@font-face {
  font-family: "HarryPotter";
  src: url('../fonts/harrypotter.TTF') format("truetype");
}

body, html {
  height: 100%;
  font-family: Calisto MT, sans-serif
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}

/*Navbar*/
.navbar {
    background: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    font-size: 1.3em;
}
  
.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 20px;
} 

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    font-weight: bold;
    font-size: 24px;
} 
 
.navbar-default .navbar-nav>li>a:focus {
    color: white;
    font-weight: bold;
    font-size: 24px;
} 
 
/*Background Video */
.video-container {
  height: 800px;
  position: relative;
  padding: 20px;
}
#video-div {
	position: absolute;
}
#video-div {
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}
video {
	position:absolute;
	z-index:0;
}
video.fillWidth {
	width: 100%;
}

#pauseDiv {
    bottom: 100px;
}
video { 
    display: block; 
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/FireBreathingDragon.jpg) no-repeat;
    background-size: cover; 
}

video#bgvid {
    transition: 1s opacity;
}
.stopfade { 
    opacity: .5; 
 }

/*Buttons */
.btn-transparent {
    background-color: transparent;
    transition: all .5s;
}

.btn-default.btn-transparent  {
    color: #F2F2F2;
}

.btn-default.btn-transparent:hover {
    color: black;
     border-color: #E6E6E6;
}

.btn-default.btn-transparent:focus {
    color: black;
}

.btn-default.btn-filled{
    background-color: #984B43;
    color: white;
}

.btn-default.btn-filled:hover{
    background-color: #EAC67A;
    color: black;
}

/*Header Content*/
.header-text {
    color: white;
    margin-top: 150px;
    z-index: 100;
}

.header-text p {
    font-size: 50px;
}

hr {    
    border-color: #984B43;
    border-width: 3px;
    max-width: 50px;
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}

.header-hr {
    padding-top: 100px;
}

/*Content*/
.page-section1 {
    background-color: white;
    color: black;
    min-height: 200px;
}

.page-section2 {
    background-color: #984B43;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.page-section2 a {
    color:  #EAC67A;; 
}

.page-section3 {
    font-family: HarryPotter, Calisto MT, sans-serif;
    font-size: 50px;
    z-index: 100px;
    background:  url(../img/Hogwarts-Express.gif) no-repeat center center fixed; 
    background-size: cover;
    height: 500px; 
    color: white;
}

.section3-text{
    padding-top: 150px;
}

.page-section4 {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 24px;
}

.page-section4 p {
    font-size: 50px;
}

/* 3 Column Center Styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    margin-right:-4px;
}

/*Footer*/
.footer-top {
    background-color: #EAC67A;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-top a{
    color: white;
}

.footer-bottom {
    background-color: #1D2731;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bottom a{
    color: white;
}
/*icons*/
.social-media-icons a {
    padding: 5px;
    color: #984B43;
}

.social-media-icons a:hover {
    color: black;
}

/*Media Queries*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .video-container {
        height: 800px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .video-container {
        height: 600px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .video-container {
        height: 400px;
    }
    video#bgvid { 
        top: 30%;
    }
    .header-text {
        margin-top: 25px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    /*html {
         background: url(../img/FireBreathingDragon.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }*/
    .header-text {
        margin-top: 0px;
    }
}