body, html {
  height: 100%;
}

/*Navbar*/
.navbar {
    background: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}
  
.navbar-default .navbar-nav>li>a {
    color: white;
} 

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
} 
 
.navbar-default .navbar-nav>li>a:focus {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
} 
 
/*Background Video */
.video-container {
  height: 800px;
  position: relative;
  padding: 20px;
}
#video-div {
	position: absolute;
}
#video-div {
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}
video {
	position:absolute;
	z-index:0;
}
video.fillWidth {
	width: 100%;
}

#pauseDiv {
    bottom: 100px;
}
video { 
    display: block; 
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/FireBreathingDragon1.jpg) no-repeat;
    background-size: cover; 
}

video#bgvid {
    transition: 1s opacity;
}
.stopfade { 
    opacity: .5; 
 }

/*Buttons */
.btn-transparent {
    background-color: transparent;
    transition: all .5s;
}

.btn-default.btn-transparent  {
    color: #F2F2F2;
}

.btn-default.btn-transparent:hover {
    color: black;
     border-color: #E6E6E6;
}

.btn-default.btn-transparent:focus {
    color: black;
}

/*Content*/
.page-content {
    background-color: white;
    color: black;
    padding: 5px 5px;
}

/*Footer*/
.footer {
    background-color: black;
    color: white;
    padding: 5px 5px;
}

.footer a{
    color: white;
}

/*icons*/
.social-media-icons a {
    padding: 5px;
}

/*Media Queries*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .video-container {
        height: 800px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .video-container {
        height: 600px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .video-container {
        height: 400px;
    }
    video#bgvid { 
        top: 30%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    html {
         background: url(../img/FireBreathingDragon1.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}

/* Custom, iPhone Retina */ 
/*@media only screen and (max-width : 320px) {
    
}*/