body, html {
  height: 100%;
}

#videoDiv {
    height: 100%;
    min-height: 100%;
}
#bgvid { 
    height: 100%;
    min-height: 100%;
}

#pauseDiv {
    bottom: 150px;
}
video { 
    display: block; 
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

.btn-transparent {
    background-color: transparent;
    /*color: inherit;*/
    transition: all .5s;
}

.btn-default.btn-transparent  {
    color: #F2F2F2;
}

.btn-default.btn-transparent:hover {
    color: black;
     border-color: #E6E6E6;
}

.btn-default.btn-transparent:focus {
    color: black;
}

.footer{
    position: relative;
    min-height: 50px;
    background-color: black;
    color: white;
}

.footer a{
    color: white;
}
video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }
 
@media screen and (max-device-width: 800px) {
    html {
         background: url(polina.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}